---
import headerlines from "../assets/header.svg";
import logo from "../assets/logo-white.svg";
---

<article>
  <header class="header">
    <div class="logo">
      <a href="--something--">
        <img src={logo} alt="Logo" class="logo" />
      </a>
    </div>
    <img src={headerlines} alt="Illustration" class="illustration" />
  </header>

  <nav>
    <ul class="menu">
      <li><a href="--something--">FORSIDE</a></li>
      <li><a href="--something--">PROGRAM</a></li>
      <li><a href="--something--">OM KULTURNAT</a></li>
    </ul>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</article>
