---
import "../assets/header.svg";
import logo from "../assets/logo-white.svg";
---

<article>
  <header class="header">
    <div>
      <a href="/">
        <img src={logo.src} alt="Logo" class="logo" />
      </a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="--something--">FORSIDE</a></li>
        <li><a href="--something--">PROGRAM</a></li>
        <li><a href="--something--">OM KULTURNAT</a></li>
      </ul>

      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </header>
</article>

<style>
  article {
    background-color: var(--baggrund1);
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../assets/header.svg");
    aspect-ratio: 1457.04 / 158.77;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5vw;
    padding-bottom: 6vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    z-index: 999;
  }

  .logo {
    height: 100%;
    filter: drop-shadow(2px 4px 10px #00000040);
  }
  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--baggrund2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }

  .menu li {
    margin: 10px 20px;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: var(--fontfarve);
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: var(--accent);
  }

  .burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin-right: 20px;
  }

  .burger .line {
    width: 80px;
    height: 5px; /* Fixed height for lines */
    background-color: var(--fontfarve);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
  }
</style>

<!-- @ts-ignore -->
<script src="/src/scripts/header.js"></script>
