/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*variabler*/

:root {
  --accent: #ffad41;
  --baggrund1: #000522;
  --baggrund2: #2f365b;
  --cards: #a1a2bd;
  --fontfarve: #ffffff;
  --font1: montserrat;
  --font2: roboto;
}
