---
import "../css/generel.css";
import headerImage from "../assets/header.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src={headerImage.src} alt="Header image" />
    </header>
    ,<main>
      <slot />
    </main>
  </body>
</html>

<style>
  header img {
    width: 100%;
  }
</style>
